
.colorOrigin{
	color: #f88a2f;
}
.colorWhite{
	color: white;
}
.bgOrigin{
	background: #f88a2f;
}
.bgWhite{
	background: rgba(247,140,47,0.1);
	border:2px solid #f88a2f;
}
.colorBlue{
	color: #518AC6;
}
/*header*/
header{
	background: rgba(0,0,0,0.05);
	height: 40px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
    transform: translateX(-50%);
}
header .fl{
	line-height: 40px;
	font-size: 14px;
}
.loginAfter,.loginBefore{
	display: none;
}
.loginBefore{
	font-size: 14px;
}
.loginBefore button,.loginAfter button{
	display: inline-block;
	color: #fff;
	width: 50px;
	height: 26px;
	cursor: pointer;
	margin-top: 7px;
	border-radius: 13px;
	background: linear-gradient(to right,#14BAF8,#29C4FE);
}
.loginAfter span{
	display: inline-block;
	color: #fff;
	line-height: 40px;
}
.container{
	width: 1090px;
	margin: 0 auto;
}
.partner .container{
	width: 1200px;
}
.btn{
	background: #f88a2f;
	font-size: 18px;
	cursor: pointer;
}
.loginBtn{
	height: 30px;
	width: 120px;
	border-radius: 15px;
	color: #fff;
	margin-top: 34px;
}
.loginWord{
	line-height: 70px;
	font-size: 18px;
	display: inline-block;
}


/*synopsis*/
.commonBox{
	width: 100%;
	height: 440px;
	background-size: cover;
}
.commonBoxTitle{
	text-align: center;
}
.commonBoxTitle h3{
	font-family: arial;
	font-size: 36px;
	padding-top: 60px;
	padding-bottom: 20px;
}
.commonBoxTitle p{
	/*width: 100px;
	height: 3px;
	background: #f88a2f;*/
	text-align: center;
	color: #999;
	font-size: 22px;
	/*transform: translateX(-50%);
    margin-left: 50%;*/
}
.synopsisContentTb,.partner .commonBoxTitle{
	margin-bottom: 60px;
}
.synopsisContentTb p.fuTitle{
	
}
/*total issued*/
.totalIssued{
	background: url(../img/bannerIndex.png) no-repeat center;
	height: 1500px;
}
.islandLogo{
	margin: 0px auto;
	text-align: center;
	padding-top: 100px;
}
.islandLogo img{
	width: 160px;
}
.islandTitle{
	margin-top: 105px;
	text-align: center;
}
.islandTitle p{
	font-size: 75px;
	line-height: 90px;
	color: #fff;
	min-width: 1000px;
	text-align: center;
}
.islandTitle .subscriptionBox{
	margin-top: 30px;
	text-align: center;
}
.islandTitle .subscriptionBox button{
	width: 280px;
	height: 80px;
	outline: none;
	border: none;
	font-size: 36px;
	color: #fff;
	cursor: pointer;
	border-radius: 40px;
	background: linear-gradient(to bottom, #14BAF8, #29C4FE);
}
.totalNumImg{
	margin-top: 400px;
	text-align: center;
}
.totalNumImg img{
	width: 130px;
}
.totalNumBox{
	margin-top: 40px;
	text-align: center;
	color: #fff;
}
.totalNumBox p{
	font-size: 36px;
	line-height: 72px;
}
.totalNumBox p:last-of-type{
	font-size: 50px;
}
.synopsis{
	background: url(../img/synopsis.jpg) no-repeat center;
}
.synopsisCon{
	font-size: 18px;
	text-align: center;
	line-height: 26px;
}
.synopsisContent .synopsisCon:first-child{
	padding-bottom: 40px;
}
.ourValue{
	background: url(../img/value.jpg) no-repeat center;
}
.ourValueContent .clearfix{
	padding: 40px 60px;
}
.ourValueCell{
	width: 288px;
}
.ourValueCell h4{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	color: #030000;
	
}
.ourValueCell h4:first-child{
	margin-bottom: 0px;
}
.ourValueCell h4 img{
	width: 110px;
}
.ourValueCell p{
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	color: #999;
}
.ourValueCell h5{
	text-align: center;
	font-size: 16px;
	line-height: 26px;
}
.ourValueCell h3,.ourValueCell span{
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	border: 2px solid;
	border-radius: 25px;
    height: 50px;
    margin-bottom: 40px;
}
.ourValueCell span{
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	margin-bottom: 60px;
}
.ourValueContent .fl{
	margin-right: 50px;
}
.overview{
	background: url(../img/data.jpg) no-repeat center;
	background-size: cover;
}
.splitzone{
	background: url(../img/splitzone.jpg) no-repeat center;
}
.splitzoneBtn{
	text-align: center;
	padding-top: 160px;
}
.splitzoneBtn a{
	width: 300px;
	background: #000;
	height: 72px;
	border-radius: 40px;
	padding-top: 8px;
	display: inline-block;
}
.splitzoneBtnTitle{
	font-size: 36px;
}
.splitzoneBtnBody{
	font-size: 16px;
}
.synopsisContentTb p{
	background: #fff;
}
.synopsisContentTitle{
	display: inline-block;
    padding: 15px 50px;
    background: url(../img/linkBg.png) no-repeat center;
    background-size: cover;
}
.cooperative{
	background-color: #fff;
}
/*footer*/
footer{
	height: 110px;
	background: linear-gradient(to bottom, #14BAF8, #29C4FE);
}
footer p{
	line-height: 110px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.textLeft{
	text-align: left!important;
}

.cooperativeBox img{
	height: 70px;
}
.cooperativeBox{
	width: 1000px;
}


.orangellow.button {
	animation-name: orangellowPulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
    -webkit-animation-name: orangellowPulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes orangellowPulse{
	0% {
	    background-color: #fc9200;
	    -webkit-box-shadow: 0 0 9px #333;
	}
	50% {
	    background-color: #ffb515;
	    -webkit-box-shadow: 0 0 18px #ffb515;
	}
	
	100% {
	    background-color: #fc9200;
	    -webkit-box-shadow: 0 0 9px #333;
	}
}

.bb, .bb::before, .bb::after {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		}
		.bb::before, .bb::after {
		  content: '';
		  z-index: -1;
		  margin: -5%;
		  color: #FFB515;
		  box-shadow: inset 0 0 0 2px;
		  animation: clipMe 8s linear infinite;
		}
		.bb::before {
		  animation-delay: -4s;
		}

@keyframes clipMe {
		  0%, 100% {
		    clip: rect(0px, 220.0px, 2px, 0px);
		  }
		  25% {
		    clip: rect(0px, 2px, 220.0px, 0px);
		  }
		  50% {
		    clip: rect(0px, 220.0px, 0px, 0px);
		  }
		  75% {
		    clip: rect(0px, 220.0px, 220.0px, 218.0px);
		  }
		}
		


.imgDemo {position:relative;}
.img1,.img2{position:absolute;}
.img1{top:60px;left: calc(50% - 95px);transform: translateX(-50%);animation:mymove 5s linear infinite;}
.img2{top:110px;left: 50%;transform: translateX(-50%);}
.img3{top: 0;}
.img4{top: 50px;}
@keyframes mymove{
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.scckj{
	background: url(../img/price.png) no-repeat;
	width: 200px;
	height: 102px;
	margin-top: 40px;
}
.ltEnter{
	background: url(../img/enter.png) no-repeat;
	width: 200px;
	height: 43px;	
	margin-top: 50px;
}

.picMove{
	width: 200px;
	/*height: 70px;*/
	overflow: hidden;
	
}
.picMoveBox{
	width: 200px;
	/*animation: picMove 3s linear infinite;*/
}
.picMoveBox img{
	/*float: left;*/
}

@keyframes picMove{
	0% {

		-webkit-transform: translateX(0px);

	}	
	25% {
		transform: translateX(-200px);
	}
	50% {
		transform: translateX(-400px);
	}
	75% {
		transform: translateX(-200px);
	}
	100% {

		-webkit-transform: translateX(0px);

	}
}

#tabList{margin:0 5% 0 5%;position:absolute;text-align:center;width:90%;}
#tabList thead{background:rgb(50,50,50);color: #fff;}
#tabList thead tr{line-height: 40px;}
#tabList td{border: 5px solid #fff;}
#tabList tbody tr{margin-top: 10px;line-height: 35px;}
#demo{position:relative;width:1000px;margin:0 auto;margin-top: 25px;}
#demo #pre{position:absolute;left:0;top:100px;display: none;}
#demo #next{position:absolute;right:0;top:100px;display: none;}
#tbodyInfo tr{background:#ceced1;color: #ceced1;}
.colorTab{color: rgb(50,50,50);}
.jgcyDetail{
	background: #F88A2F;
}
.spanBtn{
	display: inline-block;
	padding: 2px 20px;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 50px;
	border-radius: 25px;
	cursor: pointer;
}
.activeBtn{
	color: #fff;
	background: #F88A2F;
}
.dask{
	position: absolute;
	width: 890px;
	height: 155px;
	background: rgba(0,0,0,0.8);
	left: 55px;
    top: 50px;
    text-align: center;
    padding-top: 45px;
}
.timeJg{
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
}
.timeJg .timeJgW{
	font-size: 16px;
	line-height: 26px;
}
.timeJg .timeJgN{
	font-size: 40px;
	display: inline-block;
	border: 2px solid #F88A2F;
	padding: 2px 10px;
	border-radius: 25px;
}

.swiper-slide img{
	float: left;
}
.swiper-container{
	padding-left: 100px;
}
.priceJg{
	font-size: 16px;
}


@media only screen and (max-width: 1200px) {
	.container{
		width: 100%!important;
	}
	.swiper-container{
		padding-left: 0px;
	}
	.ourValueContent .clearfix{
		padding: 10px auto;
	}
	.ourValueContent .fl{
		margin-right:5%;
	}
	.ourValueCell{
		width: 30%;
	}
	.boxScreenBody{
		width: 50%;
	}
	.screenDisplay{
		display: none;
	}
	.swiper-slide img{
		width: 20%;
	}
	.dask{
		width: 89%;
	}
	.ltEnter{
		margin-right: 5%;
	}
	.scckj{
		margin-left: 5%;
	}
	.ourValueCell h5,.btn,.priceJg,.bannerBtn button,.ourValueCell p,.synopsisCon{
		    font-size: 22px;
	}
	.ourValueCell h4{
		 font-size: 30px;
	}
	.commonBoxTitle h3{
		padding-top: 20px;
		padding-bottom: 10px;
	}
	
}


/*登陸彈窗*/
.propUp{
	width: 100%;
	height: 100%;
	display: none;
}
.mask{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
}
.loginBox{
	width: 525px;
	height: 445px;
	box-sizing: border-box;
	padding: 20px;
	background: #fff;
	position: absolute;
	top: 20%;
	border-radius: 6px;
	left: 50%;
	transform: translateX(-50%);
}
.loginBox p:first-child{
	text-align: right;
}
.loginBox p:first-child img{
	cursor: pointer;
}
.loginBox h3{
	color: #333;
	font-size: 26px;
	text-align: center;
}

.inputBox{
	width: 380px;
	height: 46px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius:5px;
	border: 1px solid #eee;
}

.inputBox input,.inputBox select{
	width: 100%;
	height: 100%;
	outline: none;
	background: transparent;
	border: none;
	padding-left: 45px;
	box-sizing: border-box;
}
.inputBox label{
	display: inline-block;
	width: 85px;
	line-height: 46px;
	height: 46px;
}
.registerBox .inputBox{
	border: none;
}
.registerBox .inputBox input,.registerBox .inputBox select{
	width: calc(100% - 95px);
	border: 1px solid #eee;
	padding-left: 10px;
}
.userInput{
	margin-top: 36px;
	background: url(../img/user.png) no-repeat 6px;
}
.userNameInput{
	background: url(../img/user.png) no-repeat 6px;
}
.pswInput{
	background: url(../img/psw.png) no-repeat 6px;
}
.codeInput{
	background: url(../img/code.png) no-repeat 6px;
}
.registerBox .userInput,
.registerBox .userNameInput,
.registerBox .pswInput,
.registerBox .codeInput{
	background: transparent;
}
.codeInput img{
	position: absolute;
	right: 10px;
	top: 10px;
    width: 100px;
    height: 26px;
}
.codeInput button{
	position: absolute;
	right: 10px;
	top: 10px;
    width: 100px;
    height: 26px;
    border: none;
    outline: none;
    border-radius: 13px;
    background: linear-gradient(to right,#14BAF8,#29C4FE);
    color: #fff;
    cursor: pointer;
}
.commonDiv{
	width: 380px;
	margin: 0 auto;
}

.fogetLink{
	text-align: right;
	color: #999;
}
.fogetLink a{
	color: #999;
	font-size: 14px;
	cursor: pointer;
}
.loginBtnBox button{ 
	width: 100%;
	height: 46px;
	background: linear-gradient(to right,#14BAF8,#29C4FE);
	border-radius: 23px;
	color: #fff;
	font-size: 18px;
	outline: none;
	border: none;
	cursor: pointer;
	margin-top: 20px;
}
.registerBox{
	height: auto;
	top: 8%;
}
.subBox{
	width: 1090px;
	height: auto;
	padding: 20px 64px;
}
.subBox .commonDiv{
	width: 224px;
}
.subBox .commonDiv button{
	height: 86px;
	border-radius: 40px;
	font-size: 36px;
}
.packageList{
	display: flex;
	 flex-wrap: wrap;
	margin-top: 86px;
}
.listCell{
	flex: 0 1 auto;
	width: 200px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	border-radius: 10px;
	color: #666;
	font-size: 42px;
	cursor: pointer;
	background: #fff;
	box-shadow:0px 0px 30px 0px rgba(0,0,0,0.1);
	position: relative;
	margin-right: 50px;
	margin-bottom: 50px;
	user-select: none;
}
.listCell img{
	position: absolute;
	top: 10px;
	right: 10px;
}
.listCell:nth-child(4),.listCell:nth-child(8){
	margin-right: 0px;
}
.listCell.active{
	color: #fff;
	background: linear-gradient(to right,#14BAF8,#29C4FE);
	box-shadow:0px 0px 30px 0px rgba(21,186,248,0.3);
}
@media only screen and (max-width: 1200px) {
	.islandTitle p{
		font-size: 60px;
		min-width: 400px;
		width: 100%;
	}
	.loginBox{
		width: 90%;
		height: auto;
	}
	.inputBox {
		width: 90%;
	}
}
#treeBtn,#myMoney{
	display: none;
}
.treeBox{
	top: 30%;
	width: 600px;
	padding-bottom: 40px;
}
.treeBox.loginBox h3{
	margin-bottom: 40px;
}
.assetsBox > .clearfix{
	line-height: 40px;
	font-size: 18px;
}
.assetsBox>.clearfix>.fl{
	padding-left: 50px;
}
.assetsBox>.clearfix>.fr{
	padding-right: 50px;
	font-size: 20px;
}
div.tree {
  display: flex;
  flex-wrap: wrap;/*span需要独占一行，所以此flex布局必须要折行显示*/
  align-items: flex-start;
}

.tree > .tree {
  width: 50%;
}


div.tree > span {
  width: 100%;
  text-align: center;
  padding-bottom: 3em;
  background: url(../img/both.svg) no-repeat 0 0;
  background-size: 100% calc(100% - 0px);
  cursor: pointer;
}

/*没有后代的子树不再展示连线和多余空间*/
div.tree > span:only-child {
  background-image: none;
  padding-bottom: 0;
}

/*右/右子树自动往左/右偏*/
div.left {
  margin-right: auto;
}
div.right {
  margin-left: auto;
}

/*只有单边子树的元素，让此单边子树占用90%的空间*/
div.only-has-left > div.tree {
  width: 90%;
  margin-right: auto;
}
div.only-has-right > div.tree {
  width: 90%;
  margin-left: auto;
}

/*只有单边子树的元素只显示单边的连线*/
div.only-has-left > span {
  background-image: url(../img/left.svg);
}
div.only-has-right > span {
  background-image: url(../img/right.svg);
}